<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h2>アカウント情報を見る</h2>

    <div class="col-md-10 user-view">
            <div class="user-view-box">
                <div class="update-content">
                    <div class="row">
                        <h5>アカウント</h5>
                    </div>
                </div>
                <div class="update-content">
                    <div class="row">
                        <label class="col-md-3" for="email">メールアドレス</label>
                        
                    </div>
                </div>
                <div class="update-content">
                    <div class="row">
                        <label class="col-md-3" for="password">パスワード</label>
                        <div class="col-md-9">*********</div>
                    </div>
                </div>
                
                <!--<div class="update-content">
                    <div class="row">
                        <a class="col-md-2 btn btn-primary mx-3" href="/users/edit"></a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>

<%= link_to "トップページにもどる", :pages %>
